$site-width: 1200px;
$site-gutter: 10%;

$base-font: 16px;

$size-xxl: 1600px;
$size-xl: 1400px;
$size-l: 1200px;
$size-desktop: 1024px;
$size-tablet:  768px;

$font-family: 'Cantarell', Helvetica, Arial, sans-serif;
$font-size-h1: 2.3rem;
$font-color: #444;